@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family:'rajdhani', 'Space-Grotesk';
    src: url(../police/Rajdhani.ttf);
    src: url(../police/SpaceGrotesk.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --yellow-color:#FFFF00;
    --yellow-light: #f8f184; 
    --blue-color:#19587d;
    --white-color:#ffffff;
    --black-color:#000000;
    --bg-color:#C4C4C4;
    --gradient-color:#EDDEBF;
    --gradient1-color:#890008;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h3{
    font-family:'rajdhani';
}

button{
    font-family: 'rajdhani';
    font-size: 20px;
    font-weight: 400;
}
/*container*/
.container{
    width: 80%;
    margin: 0 auto;
}

body{
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: 'Space Grotesk';
}

/* section header navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
/*section link */
a{
    color: var(--white-color);
    font-size: 25px;
    font-weight: 500;
}
/* section header*/
ul{
    list-style: none;
}
/* section header navbar */
nav ul a{
    color: var(--white-color);
    font-size: 30px;
    font-weight: 500;
    font-family: 'rajdhani';
}
/* section header navbar */
nav ul a:hover{
    color:var(--btn-color);
}

/* section main*/
#hero{
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color:var(--black-color);
    background-size: cover;
}
/*section main hero*/
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}

#hero .titre{
    margin: 40px 0;
}
/*section main hero*/
.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 3px 30px;
    background: linear-gradient(8deg,var(--gradient-color),var(--gradient1-color));
    box-shadow: var(--black-color) 5px 5px 60px;
}
/*section fleche hero*/
#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 40vh;
}
/*section image scroll*/
.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 50px;
    top: 240px;
}
.scroll .social{
    margin-top: 15px;
}
/* section div batman personage cinema*/
#batman-cinema{
    margin-top: 40px;
}

/* section div batman personage*/
.batman-personage{
    display: flex;
    justify-content: space-between;
}
/* section div batman personage cinema*/
#batman-cinema .titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
}
#batman-cinema .description{
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
    font-size: 21px;
}
#batman-cinema .personnage-info{
    text-align: center;
}
/*section allies*/
#nemesis{
    margin: 0 102px;
    padding:30px 100px 180px 100px;
    border-left: 3.5px var(--bg-color) solid ;
    border-right: 3.5px var(--bg-color) solid ;
 }
