@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'rajdhani';
    src: url(../police/Rajdhani.ttf);
}

:root{
    --yellow-color:#FFFF00;
    --yellow-light: #f8f184;
    --blue-color:#19587d;
    --white-color:#ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero{
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #000000;
}